{% assign lang = 'uk' %}
{% if page.url contains '/en/' %}
  {% assign lang = 'en' %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  {% include seo.html %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include google-analytics.html %}
  {% include google-adsense.html %}
  {% include clarity-analytics.html %}
  {% include ahrefs-analytics.html %}
</head>
<body>
  {% include header.html %}
  <main>
    {{ content }}
  </main>
  {% include footer.html %}
  <script src="{{ '/assets/js/search-data.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>
